*{margin: 0px; padding: 0px;}
body{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }
.box{width: 200px; height: 200px;}
.timerBox{width: 200px; outline: 2px solid black;}
.timerBox .time{
    font-size: 30pt;
    color: #444;
    text-align: center;
}
.btnBox{margin: 20px auto; text-align: center;}
.btnBox .fa-solid{
    margin: 0px 5px;
    font-size: 30pt;
    color: #ff6600;
    cursor: pointer;
}